<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ source }} headlines</title>
</head>
    <body>
    <form>
        <input type="text" name="source" placeholder="search source"/>
        <input type="submit" value="Submit"/>
    </form>
     <h1>  {{source}} Headlines </h1>
     {% for article in articles %}
     <b> <a href="{{article.link}}"> {{article.title}}</a> </b> <br/>
     <i> {{article.published}} </i> <br/>
     <p> {{article.summary}} </p> <br/>
     <hr />
     {% endfor %}
    </body>
</html>